
.title{
  padding: 0 10rem;
}

h1{
  margin-bottom: 0;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
}


h2{
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

nav{
  padding: 0 10rem
}

.gallery{
  padding: 0 10rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}


.imgBG{
  background-color: black;
  padding: 0;
  margin: 0.5rem;
  width: 30%;
}
.galleryImage{
  
  width: 100%;
  transition: opacity 0.1s linear;
  
}

.galleryImage:hover{
  opacity: 0.5;
  background-color: black;
}