.topBar{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000;
}
*{
    margin: 0;
    padding: 0;
    
  }
  
 h2, a{
    color:white;
      font-family: Arial;
      transform:translateY(30%) translateX(10px);
      
      
      animation: none;
      text-decoration: none;
      width: 200px;
      
 }

h2::after {
    content: "";
    background-color:red;
    width: 0em;
    display: block;
    height: 5px;
    transition: width ease-in 300ms;
    
}
h2:hover::after{
    width: 5.5rem;
  
}
.centered {
    position: absolute;
    top: 25pc;
    left: 50%;
    transform: translate(-50%, -50%);
  }
h1{
    font-family: Arial;
    color: black;
}

.text{
    width: 60%;
    font-family: Arial;
    font-size: 1.5pc;
    position: absolute;
    left: 20%;
    transform: translateY(-50pc);
}
.grej{
    background-image: url("../media/bron.jpg");
    position: absolute;
    background-size: cover;
    width: 100%;
    color: black;

}