.topBar{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000;
    top: 0%;
}
*{
    margin: 0;     
    padding: 0;
    
  }
  
 h2, a{
    color:white;
      font-family: Arial;
      transform:translateY(30%) translateX(10px);
      align-items: center;
      
      animation: none;
      text-decoration: none;
      width: 200px;
      
 }

a::after {
    content: "";
    background-color:red;
    width: 0em;
    display: block;
    height: 5px;
    transition: width ease-in 300ms;
    
}
a:hover::after{
    width: 5.5rem;
  
}
.text{
    background-image: linear-gradient();
    width: 60%;
    height: 1000px;
    color: black;
    position: relative;
    left: 20%;
    margin-top: 50px;
}
h3, li{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: rgb(20, 20, 20);
}
.background{
    background-image:url(../media/luftballong-bak.jpg);
    background-size: cover;

    
}
.background2{
    background-image:url(../media/luftballong-bak2.jpg);
    background-size: cover; 
    width: 100%;
    height: 100%;
}
.download:hover::after, .download::after{
    background-color: rgba(255,255,255,0)
}
.download{
    width: 7%;
    height: 7%;
}

